.colorRed {
  color: red;
}

.colorGreen {
  color: green;
}

.textBoxColorRed {
  border:1px solid red;
}

.textBoxColorGreen {
  border:1px solid green;
}

footer {
  text-align: center;
  margin: 10px;
}
