body {
  padding-top: 3.5rem;
  height: 100%;
  background-image: url("../images/home-background.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
}

.body-container {
  background-color: #FFFFFF;
  margin: 15% 15% 15% 15%;
  border: solid 2px #000000;
  border-radius: 15px;
}
